.position_title {
  text-align: center;
  text-transform: capitalize;
}

.container {
  margin-bottom: 2em;
}

.candidates_group {
  display: flex;
  justify-content: space-around;
  margin: 1em auto;
}

@media (max-width: 425px) {
  .position_title {
    line-height: 3;
  }

  .candidates_group {
    display: block;
  }
}
